{% if Model.ContentField.FirstMediaUrl != "" %}
  <div class="header-image {{ Model.ContentItem.ContentType }}-header-image">
      <img src="{{ Model.ContentField.FirstMediaUrl }}" alt="{{ Model.ContentItem.TitlePart.Title }}" />
  </div>
{% endif %}