{% if Model.ContentField.Value != null %}
	<div class="embed-container"><iframe src="//www.youtube.com/embed/{{ Model.ContentField.Value }}?html5=1&autoplay=0" allowfullscreen="" frameborder="0"></iframe></div>
{% endif %}