<div class="search-form-container">
    <form action="{{ Model.WorkContext.CurrentSite.BaseUrl }}/Search" method="get">
        <input class="search-box" id="q" name="q" type="text" placeholder="Search..." value="" />
    </form>
</div>