@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/common";

@import "mixins";
@import "variables";

.blogpost-summary-wrapper
{
    display: flex;
    .card-summary();

    .blogpost-summary-headerimage-container
    {
        width: 33%;

        img
        {
            width: 100%;
        }
    }

    .blogpost-summary-main-container
    {
        float: right;
        width: 100%;
        padding-left: 10px;

        h1
        {
            margin-top: 0;
        }
    }
}

article
{
    &.guild-application, &.guild-application2
    {
        &.summary
        {
            .make-column(@grid-columns);
            .card-summary();
        }
    }

    &.guild-application2
    {
        .meta-status
        {
            font-size: 1.4rem;
        }

        &.detail
        {
            .content
            {
                .make-row();

                .guild-application-section
                {
                    background-color: @theme-dark;
                    padding: 15px;
                    border: 2px solid @theme-lightgrey;
                    border-radius: 5px;
                    margin-bottom: 10px;

                    p .name
                    {
                        display: block;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.guild-applications-projection-container
{
    ul
    {
        padding-left: 0;
        display: block;
        clear: both;
    }
}

.content-item
{
    & .forum, & .thread, & .post
    {
        .card-summary();
    }
}

.content-item
{
    & .forum-threads, & .thread-posts
    {
        padding-top: 1rem;
    }
}

#roster
{
    .roster
    {
        .make-column(@grid-columns);
    }

    .roster-character
    {
        .card-summary();
        
        position: relative;
        float: left;
        min-height: 64px;
        min-width: 330px;
        margin-right: 1rem;

        @media @media-md
        {
            width: percentage(12 / @grid-columns) - 1;
        }

        @media @media-lg
        {
            width: percentage(6 / @grid-columns) - 1;
        }

        @media @media-xl
        {
            width: percentage(4 / @grid-columns) - 1;
        }

        p
        {
            margin-bottom: 0;
        }
    }
}