@import "variables";

.blogpost-summary-wrapper
{
    display: flex;
    margin-bottom: 2rem;

    .blogpost-summary-headerimage-container
    {
        width: 25%;

        img
        {
            width: 100%;
        }
    }

    .blogpost-summary-main-container
    {
        float: right;
        padding-left: 10px;
        width: 75%;

        h1
        {
            margin-top: 0;
        }
    }
}
