@import "variables-wow";

.link-style
{
    a
    {
        color: @wow-faction-alliance;

        &:active, &:hover, &:focus
        {
            text-decoration: none;
            color: @wow-quality-artifact !important;
        }
    }
}
