@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/navigation";
@import "variables";
@import "mixins";

.zone-navigation
{
    padding: 0;

    .widget-menu-widget
    {
        font-weight: bold;
        font-size: 2rem;
        float: left;

        .menu
        {
            :hover, :active, :focus
            {
                background-color: @theme-dark;
            }

            li
            {
                width: auto;
                padding: 0 1rem 0 1rem;

                &.current
                {
                    a
                    {
                        background-color: @theme-dark;
                    }

                    :hover, :active, :focus
                    {
                        background-color: @theme-dark;
                    }
                }
            }

            .dropdown ul
            {
                min-width: 100%;
                background-color: @theme-dark;
                border-color: @theme-lightgrey;
                padding: 0;

                li
                {
                    min-height: 50px;
                    text-align: center;
                    border-right: none;
                    .link-style;

                    &.current
                    {
                        a
                        {
                            color: @wow-class-priest;
                        }
                    }

                    a
                    {
                        padding: 15px 0 10px 0;
                        min-height: 50px;
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                }
            }

            .link-style;
        }
    }
}
