@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/reset";
@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/general";
@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/misc";
@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/media";

@import "structure";
@import "variables";
@import "mixins";
@import "navigation";
@import "pagination";
@import "forms";
@import "widgets";

body
{
    background-color: @theme-grey;
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    color: @wow-quality-poor;

    .metadata
    {
        color: @wow-quality-legendary;
    }

    #header, .zone-footer, .zone-navigation
    {
        background-color: @theme-dark;
    }

    .zone-navigation
    {
        border-bottom: 1px solid @wow-quality-wowtoken;
    }

    .zone-footer
    {
        border-top: 1px solid @wow-quality-wowtoken;
        border-bottom: 1px solid @wow-quality-wowtoken;
    }

    .link-style;

    .zone-content
    {
        h1
        {
            border-bottom: none !important;
        }
    }
}

#branding
{
    a
    {
        color: @wow-faction-horde;
        box-shadow: none;
        transition: text-shadow 1s;
        -webkit-transition: text-shadow 0.66s;

        &:hover, &:focus
        {
            color: @wow-faction-horde !important;
            text-decoration: none;
            text-shadow: 0px 0px 40px @wow-quality-legendary;
        }
    }
}
