@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/variables";
@import "variables-wow";

@theme-dark: #222427;
@theme-grey: #2B2D31;
@theme-lightgrey: #37393D;

// Overriding default value from Bootstrap.
@input-border-focus: @wow-quality-legendary;